div.container {
    width: 500px;
    clear: both;
}

div.container input[type=text] {
    clear: both;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 50%;
}

div.container input[type=text]:focus {
    width: 100%;
}